@mixin desktop {
    @media(max-width: 768px) {
        @content;
    }
}

.questionTwo {
    position: relative;
    width: 80%;
    text-align: start;
    overflow: hidden;

    @include desktop() {
        padding: 10px;
        box-sizing: border-box;
        width: 100%;
    }
}