.home {
    position: relative;

    &__main {
        position: relative;
        min-height: calc(100vh - 65px);
        background: #FBF9F9;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #000;
            font: normal normal normal/normal sans-serif;
            letter-spacing: 1px;
        }
    }
}