@mixin desktop {
    @media(max-width: 768px) {
        @content;
    }
}

.header {
    position: sticky;
    top: 0;
    padding: 10px 40px;
    box-sizing: border-box;
    height: 65px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    &__link {
        text-decoration: none;

        .header__logo {
            position: relative;
            height: 40px;
            z-index: 1;
            cursor: pointer;

            &-icon {
                display: block;
                width: 100%;
                height: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;

                @include desktop() {
                    display: none;
                }
            }

            &-text {
                width: 100%;
                height: 100%;
                aspect-ratio: 153/24;
                object-fit: contain;
                display: none;

                @include desktop() {
                    display: block;
                }
            }
        }
    }
}